Package: com.sticktron.notific8
Name: Notific8
Version: 1.1.0-dev
Architecture: iphoneos-arm
Depends: mobilesubstrate, firmware (>= 7.0)
Description: An iOS 8 makeover for the Notification Center.
Author: Sticktron
Section: Addons(NotificationCenter)
