<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Notific8</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>LogoCell</string>
			<key>footerText</key>
			<string>⚠️ SpringBoard must be restarted.</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>com.sticktron.notific8</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.sticktron.notific8.settings-changed-respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>com.sticktron.notific8</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>HideText</string>
			<key>label</key>
			<string>Hide attribution text</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.sticktron.notific8.settings-changed</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>com.sticktron.notific8</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>AlwaysShowClear</string>
			<key>label</key>
			<string>Always show Clear buttons</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.sticktron.notific8.settings-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Idea by Cole Hunt</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openEmailForCole</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>davidcolehunt@me.com</string>
			<key>icon</key>
			<string>Email.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openTwitterForCole</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@cohlman</string>
			<key>icon</key>
			<string>Twitter.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Made by Sticktron</string>
			<key>footerText</key>
			<string>
©2014
			</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openEmailForSticktron</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>sticktron@hotmail.com</string>
			<key>icon</key>
			<string>Email.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openTwitterForSticktron</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@sticktron</string>
			<key>icon</key>
			<string>Twitter.png</string>
		</dict>
	</array>
</dict>
</plist>
